.simple-product-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 40px;

    .qty-counter-container {
        display: flex;
        height: auto;
        width: auto;

        .qty-button {
            width: 52px;
            height: 52px;
            font-weight: bold;
            font-size: 20px;
            background-color: #FFFFFF;
            border: #C2C2C2 1px solid;
            border-radius: 0;

            &.increase {
                color: #FF5501;
                border-left: none;
            }

            &.decrease {
                color: #333333;
                border-right: none;
            }
        }

        #qty {
            width: 86px;
            height: auto;
            background-color: #FFFFFF;
            border: #C2C2C2 1px solid;
            border-radius: 0;
            text-align: center;
            outline: none;

            &:focus {
                outline: none;
            }
        }
    }

    #product-addtocart-button {
        background-color: #FF5501;
        width: 100%;
        border: none;
    }

    h1 {
        &.page-title {
            font: normal normal 600 32px/43px "Open Sans";
        }
    }

    a {
        &.action {
            &.add {
                border: 1px solid #333333;
                border-radius: 2px;
                padding: 5px 10px;
                font: normal normal 600 12px/17px "Open Sans";
                color: #333333;
            }

            &.view {
                color: #FF5501;
                font-size: 12px;
                text-decoration: underline;
            }
        }

    }

    .attribute-element {
        background-color: #F9F9F9;
        height: auto;
        padding: 20px;

        ul {
            display: inline-block;
            padding-left: 20px;
            margin: 0;
            font-size: 14px;

            li:last-of-type {
                margin: 0;
            }
        }

        p {
            display: inline-block;
            font-size: 12px;
            margin: 13px 0 0 0;
        }
    }

    .field.qty {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .block {
        .block-title {
            border-bottom: 1px solid #C2C2C2;
            padding-bottom: 8px;
            margin-bottom: 0;

            #block-upsell-heading {
                font: normal normal bold 16px/22px "Open Sans";
            }
        }
    }

    .products-grid {
        .product-items-related {
            margin: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media screen and (max-width: 1175px) {
                justify-content: center;
            }

            .product-item {
                width: 224px;
                //flex-grow: 1;
                .tocart {
                    background-color: #FF5501;
                    border: none;
                    padding: 14px 53px;
                    font: normal normal 600 18px/24px "Open Sans";
                    width: 100%;
                }

                .price-box {
                    .price {
                        font: normal normal bold 22px/30px "Open Sans";
                    }
                }

                .product-item-photo {
                    height: 280px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }

    .product-item-info-simple {
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;

        .action.add {
            display: none;
        }

        .product-details-container {
            flex-grow: 1;

            .product-item-details-simple {
                margin-left: 20px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .product-item-name {
                    margin: 0 0 4px 0;

                    a {
                        text-align: left;
                        font: normal normal 600 16px/22px Open Sans;
                        letter-spacing: 0px;
                        color: #333333;
                        opacity: 1;
                    }
                }

                .product-reviews-summary {
                    margin-bottom: 20px;
                }

                .price-box {
                    margin: 0;
                }

                .price {
                    text-align: left;
                    font: normal normal 600 18px/24px Open Sans;
                    letter-spacing: 0px;
                    color: #333333;
                    opacity: 1;
                }
            }
        }

        .image-container {
            width: 88px;
        }

        .view-product-button-container {
            width: auto;
            background-color: #333333;
            padding: 6px 10px;
            text-align: center;
            border-radius: 2px;
            a {
                text-align: left;
                font: normal normal 600 14px/19px "Open Sans";
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                text-decoration: none;
            }
        }
    }

    .product-items-upsell {
        margin: 0;
    }
}

.page-layout-1column {
    .simple-product-wrapper {
        .product.media {
            max-width: 640px;
            width: 100%;
        }

        .product-info-main {
            max-width: 560px;
            width: 100%;

            .product-info-price {
                display: flex;
                align-items: center;
                gap: 16px;
                border: none;
                margin: 0 0 10px 0;
                width: 100% !important;

                .price-box {
                    padding: 0;

                    .price-container {
                        .price {
                            font: normal normal 600 32px/43px "Open Sans";
                        }

                        & > span {
                            margin: 0;
                        }
                    }
                }

                .product-info-stock-sku {
                    padding: 0;

                    .product.attribute.sku {
                        font-size: 14px;
                    }
                }
            }

            .rating-summary {
                margin-right: 6.5px;
            }

            .product-reviews-summary {
                margin-bottom: 27px;
            }

            .stock.available {
                font: normal normal bold 14px/19px "Open Sans";

                .items-available {
                    font-weight: normal;
                    text-transform: none;
                }
            }
        }
    }
}

.page-wrapper {
    .page-bottom {
        width: 100%;
        margin-top: 50px;
        box-sizing: border-box;

        .simple-product-wrapper {
            .product-item-info-related-simple {
                display: flex;
                flex-direction: column;
                align-items: center;

                a.action.add {
                    display: none;
                }

                .tocart {
                    visibility: hidden;
                }

                @media (max-width: 1025px) {
                    .tocart {
                        visibility: visible;
                    }
                }

                .product-item-details {
                    max-width: 204px;
                }
            }

            .product-item-info-related-simple:hover {
                box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.3);
                border: 1px solid #bbb;
                margin: 0;
                padding: 0;
                position: relative;
                z-index: 9;

                .tocart {
                    visibility: visible;
                }
            }

            #block-related-heading {
                font: normal normal 600 24px/33px "Open Sans";
            }

            .block-title {
                padding-bottom: 20px;
            }

            .product-item-name {
                a {
                    font: normal normal 600 16px/22px "Open Sans";
                }
            }
        }
    }
}

.columns {
    width: 1248px;
}
